<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yf.qy.mapper.UpdateLogMapper">

    <select id="getMaxVersion" resultType="java.lang.Integer">
        select max(version) from update_log
    </select>
    <select id="info" resultType="org.yf.qy.entity.UpdateLog">
        select * from update_log where id = (select max(id) from update_log where state = true)
    </select>
</mapper>
